<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style media="screen">
      .head
      {
        display: inline-flex;
        width: 100%;
        background-color: aqua;
        text-align: center;
      }
      .head-1
      {
        background-color: black;
        color: white;


        margin-right: 20%;
      }
      .img-1
      {
    /*  text-align: right;*/
      padding-left: 50%;
      }
    </style>
</head>
<body>

  <div class="head">
  <img src="R:/Atom/viewsforge.jpg"style=" height: 50px;width: 50px" alt="unavailable">
  <h1 class="head-1">Mongodb Database Viewer</h1>
  <img class="img-1" src="R:\Atom\viewsforge.jpg"style=" height: 50px;width: 50px" alt="unavailable" >
  </div>
<br>
<br>

<h2 style="background-color:White"><center>Enter or Update or Find data</center></h2>

<br>
<hr>
<br>

<center>
<p>Enter elements to an array: </p>
<form action="/add" method="POST">
  <label>Element to be Added:</label>
    <input type="text" name="myinp" placeholder="Enter Elements">
    <button>add</button>
</form>
</center>

<br>
<hr>
<br>

<center>
<p>Enter elements to upload to Mongodb: </p>
<form action="/push" method="POST">
  <label>Name:</label>
    <input type="text" name="myname" placeholder="Enter Name">
<label>Rollno:</label>
    <input type="text" name="myroll" placeholder="Enter Roll-no">
<label>Teamname:</label>
    <input type="text" name="myteam" placeholder="Enter Teamname">
    <button>Submit</button>
</form>
</center>

<br>
<hr>
<br>

<center>
<p>Enter value to find in Mongodb: </p>
<form action="/find" method="POST">
    <label>Select Element to be searched:</label>
    <select name="value">
      <option value="Name">Name</option>
      <option value="Rollno">Rollno</option>
      <option value="Teamname">Teamname</option>
    </select>
    <br><br>
    <label> Enter query element:</label>
    <input type="text" name="search" placeholder="Enter Data">
    <button>find</button>
  </center>
</form>

<br>
<hr>
<br>

<center>
<p>Enter data to delete record in Mongodb: </p>
<form action="/delete" method="POST">
  <label>Select known field:</label>
  <select name="value_1">
    <option value="Name">Name</option>
    <option value="Rollno">Rollno</option>
    <option value="Teamname">Teamname</option>
  </select>
  <br><br>
    <label>Enter known Element whose record to be deleted:</label>
    <input type="text" name="deliii" placeholder="Enter Data to delete">
    <button>delete</button>
  </center>
</form>
<br>
<hr>
<br>

<center>
<p>Select field to update record in Mongodb: </p>
<form action="/update" method="POST">
  <label>Select known field:</label>
  <select name="value__2">
    <option value="Name">Name</option>
    <option value="Rollno">Rollno</option>
    <option value="Teamname">Teamname</option>
  </select>
  <br><br>
  <label> Enter query element:</label>
  <input type="text" name="old" placeholder="Enter old Data">
  <br><br>
    <label>Enter new data:</label>
    <input type="text" name="up" placeholder="Enter Data to update">
    <button>update</button>
  </center>
</form>
<br>
<hr>
<br>

<p> <%= student %></p>
</body>
</html>
